@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Shippori+Mincho+B1:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  width: 50%;
  height: 100vh;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.left .img {
  height: 100vh;
  background-image: url("LogoWebality.png");
  background-size: 45% 20%;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 18rem;
}

.left .img h1 {
  position: absolute;
  top: 58%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  font-size: 4.7rem;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
}

.right {
  color: rgb(0, 0, 0);
  width: 50%;
  height: 100vh;
  display: flex;
}

.container {
  width: 75%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.right .navbar {
  width: 80%;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  margin-bottom: 7rem;
}

.right .navbar p:hover {
  border-bottom: 3px solid black;
}

.container h2 {
  font-size: 3.2rem;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  /* box-shadow: -9px 13px 14px -4px rgba(0, 0, 0, 0.61); */
  margin-bottom: 3.8rem;
}

.container .info {
  width: 80%;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.container .contact {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 8rem;
}

.container .email label {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.container .email input {
  width: 40%;
  border: 2px solid black;
  padding: 0.8rem;
  margin-top: 0.3rem;
  border-radius: 0;
}

.container .email input:active {
  border: 2px solid black;
  border-radius: 0;
}

button {
  width: 13%;
  margin-top: 0.3rem;
  padding: 0.75rem;
  background-color: black;
  color: #fff;
  border: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
